@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');



body {
    background-color: crimson;
}

p {
    text-align: center;
    font-family: "MedievalSharp", serif;
    font-size: 4em;
    color: yellow;
    text-shadow: 3px 3px 2px black;
}

img {
    width: 25%;
    height: 25%;
    min-width: 500px;
    min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




